﻿@model Dictionary<string, Champion>

@{
    ViewData["Title"] = "Champions";
}

<h1>Champions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>key</th>
            <th>name</th>
            <th>title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Value
            </td>
            <td>
                @item.Value
            </td>
            <td>@item.Value</td>
            <td>@item.Value</td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
