﻿@model riotWebApp.Models.FreeChampion

@{
    ViewData["Title"] = "ChampionSet";
}

<h1>Champion Set</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maxNewPlayerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.freeChampionIdsForNewPlayers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.freeChampionIds)
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    @Model.maxNewPlayerLevel
                </td>
                <td>
                    @String.Format("{0}", "[")
                    @foreach (var item in Model.freeChampionIdsForNewPlayers) {
                    @item @String.Format("{0}", ",")
                        }
                    @String.Format("{0}", "]")
                </td>
                <td>
                    @String.Format("{0}", "[")
                    @foreach (var item in Model.freeChampionIds)
                    {
                        @item @String.Format("{0}", ",")
                    }
                    @String.Format("{0}", "]")
                </td>
            </tr>
    </tbody>
</table>
