﻿@model Root
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" asp-controller="Home">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p></p>
        <div class="table-responsive">
            <table class="table-small">
                <tr>
                    <td style="vertical-align:bottom">
                        <input type="text" name="summoner" class="form-control" />
                    </td>
                    <td style="vertical-align:bottom">
                        <input type="checkbox" name="champion" value="true" />
                    </td>
                    <td style="vertical-align:bottom">
                        <button class="btn btn-outline-primary">Summoner</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <p>Total Games: @Model.totalGames</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.gameId)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.role)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.season)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.platformId)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.champion)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.queue)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.lane)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Match.timestamp)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.matches)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.gameId)</td>
                    <td>@Html.DisplayFor(modelItem => item.role)</td>
                    <td>@Html.DisplayFor(modelItem => item.season)</td>
                    <td>@Html.DisplayFor(modelItem => item.platformId)</td>
                    <td>@Html.DisplayFor(modelItem => item.champion)</td>
                    <td>@Html.DisplayFor(modelItem => item.queue)</td>
                    <td>@Html.DisplayFor(modelItem => item.lane)</td>
                    <td>@Html.DisplayFor(modelItem => item.timestamp)</td>
                </tr>
            }
        </tbody>
    </table>
</form>

@*<p id="demo">Get your position</p>
    <button onclick="getLocation()">Location</button>
    <div id="mapholder"></div>
<script type="text/javascript">
    var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        }
        else (x.innerHTML = "Geolocation is not supported by this browser.");
    }
    function showPosition(position) {
        var latlondata = position.coords.latitude + "," + position.coords.longitude;
        var latlon = "Your latitude position is " + position.coords.latitude + " your longitude position is " + alert(latlon);
        var imgurl = "https://maps.googleapis.com/maps/api/staticmap?center="
            + latlondata + "&zoom=14&size=400x300&sensor=false";
        document.getElementById("mapholder").innerHTML = "<img src='" + imgurl + "' />";
    }
    function showError(error) {
        if (error.code == 1) {
            x.innerHTML = "User denied access";
        }
        else if (error.code == 2) {
            x.innerHTML = "Location info unavailable";
        }
        else if (error.code == 3) {
            x.innerHTML = "request to get user location timed out";
        }
        else {
            x.innerHTML = "An unknown error occurred";
        }
    }
</script>*@
    