﻿@model Riot

@{
    ViewData["Title"] = "Summoner";
}

<h1>Summoner</h1>

<form asp-action="Summoner" asp-controller="Home">
    <input type="text" name="summoner" />
    <button class="btn btn-outline-dark">Summoner</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.summonerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.revisionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profileIconId)
            </th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {*@
        <tr>
            <td>
                @Model.name
            </td>
            <td>
                @Model.puuid
            </td>
            <td>
                @Model.summonerLevel
            </td>
            <td>
                @Model.accountId
            </td>
            <td>
                @Model.revisionDate
            </td>
            <td>
                @Model.profileIconId
            </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puuid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.summonerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.revisionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profileIconId)
            </th>
        </tr>
    </tfoot>
</table>
